.header {
  overflow: hidden;
  background-color: #ffffff;
  height: 60px!important;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgb(208, 208, 208); 
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.Inputs{
 display: flex;
  float: right;
  flex: 1;
  height: 60px;
  min-height: unset!important;
}

.routerLinkActive{
  background: rgb(255, 255, 255);
}

.googleSign{
  margin-left: 10px;
  margin-top: 10px;
}

img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 25px;
}

::ng-deep.mat-menu-panel.menuButton {
  margin-top: 100px;
}

.logo{
  float: left!important;
  font-size: 30px;
}

.logoInputs p{
  color: blue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.logoInputs img{
  width: 220%;
  height: 80px;
}