.banner img{
  width: 100%;
  height: 650px;
  border-radius: 50px;
  object-fit: cover; 
}

.banner{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#slogan{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: absolute;
  top: 58%; 
  left: 23%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 50px; 
  z-index: 1;
}

#description{
  width: 300px;
  position: absolute;
  top: 80%; 
  left: 25%; 
  transform: translate(-50%, -50%); 
  color: rgb(255, 255, 255); 
  font-size: 17px; 
  z-index: 1;
}

.main {
  display: flex;
  height: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

#map {
  margin-top: 40px;
  margin-left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  border: 1px solid rgb(219, 219, 219);
}

#content {
  margin-top: 40px;
  flex: 0 0 23%; 
  background-color: white; 
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

#content > div {
  flex: 1;
  border-bottom: 1px solid rgb(219, 219, 219);
  text-align: center;
}

.deck {
  display: flex;
  justify-content: space-between; /* To push the deckName and spots divs to opposite sides */
  align-items: center;
  margin-bottom: 20px;
}

.deck-img {
  height: 120px;
  width: 120px;
  margin-bottom: 18px;
}

.spots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spots p {
  font-size: 20px;
  margin-bottom: 5px; 
  font-weight: 800;
  color: rgb(33, 33, 33);
}

.spots button{
  width: 150px;
  font-size: 14px;
  background-color: rgb(44, 107, 233);
  border: none;
  color: aliceblue;
  height: 40px;
  border-radius: 10px;
}

.spots button:hover{
  cursor: pointer;
}