<div class="banner">
  <img src="../../assets/banner.jpeg" alt="banner" />
  <p id="slogan">
    RESERVE.<br /><br /><br />
    PARK.<br /><br /><br />
    GO.
  </p>
  <p id="description">
    ParkMe is a web application tailored for students within the university
    system for daily reserving available parking slots on campus within a
    convenient 30-minute timeframe.
  </p>
</div>
<div class="main">
  <div id="content">
    <div class="deck">
      <div class="deckName">
        <img class="deck-img" src="../../assets/TDeck.jpeg" alt="TDeck" />
      </div>
      <div class="spots">
        <p>T DECK</p>
        <!--if user hasnt login, show login button-->
        <ng-container *ngIf="!user; else loggedInBlock">
          <div class="googleSign Inputs">
            <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
          </div>
        </ng-container>
        <!--if user hasnt booked spot, show reserve button-->
        <ng-template #loggedInBlock>
          <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
            <button (click)="reserveButtonClicked('t')">
              Reserve
            </button>
          </ng-container>
        </ng-template>
        <!--if user  booked spot, show checkout button-->
        <ng-template #bookedSpotBlock>
          <ng-container *ngIf="user?.parkingDeckBooked == 't'">
            <button (click)="checkoutButtonClicked()">
              Check Out
            </button>
          </ng-container>
        </ng-template>      
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/MDeck.webp" alt="MDeck" />
      </div>
      <div class="spots">
        <p>M DECK</p>
          <!--if user hasnt login, show login button-->
          <ng-container *ngIf="!user; else loggedInBlock">
            <div class="googleSign Inputs">
              <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
            </div>
          </ng-container>
          <!--if user hasnt booked spot, show reserve button-->
          <ng-template #loggedInBlock>
            <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
              <button (click)="reserveButtonClicked('m')">
                Reserve
              </button>
            </ng-container>
          </ng-template>
          <!--if user  booked spot, show checkout button-->
          <ng-template #bookedSpotBlock>
            <ng-container *ngIf="user?.parkingDeckBooked == 'm'">
              <button (click)="checkoutButtonClicked()">
                Check Out
              </button>
            </ng-container>
          </ng-template>    
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/NDeck.webp" alt="NDeck" />
      </div>
      <div class="spots">
        <p>N DECK</p>
          <!--if user hasnt login, show login button-->
          <ng-container *ngIf="!user; else loggedInBlock">
            <div class="googleSign Inputs">
              <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
            </div>
          </ng-container>
        <!--if user hasnt booked spot, show reserve button-->
          <ng-template #loggedInBlock>
            <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
              <button (click)="reserveButtonClicked('n')">
                Reserve
              </button>
            </ng-container>
          </ng-template>
        <!--if user  booked spot, show checkout button-->
        <ng-template #bookedSpotBlock>
          <ng-container *ngIf="user?.parkingDeckBooked == 'n'">
            <button (click)="checkoutButtonClicked()">
              Check Out
            </button>
          </ng-container>
        </ng-template>    
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/SDeck.webp" alt="SDeck" />
      </div>
      <div class="spots">
        <p>S DECK</p>
          <!--if user hasnt login, show login button-->
          <ng-container *ngIf="!user; else loggedInBlock">
            <div class="googleSign Inputs">
              <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
            </div>
          </ng-container>
          <!--if user hasnt booked spot, show reserve button-->
          <ng-template #loggedInBlock>
            <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
              <button (click)="reserveButtonClicked('s')">
                Reserve
              </button>
            </ng-container>
          </ng-template>
          <!--if user  booked spot, show checkout button-->
          <ng-template #bookedSpotBlock>
            <ng-container *ngIf="user?.parkingDeckBooked == 's'">
              <button (click)="checkoutButtonClicked()">
                Check Out
              </button>
            </ng-container>
          </ng-template>    
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/blueLot-.png" alt="BlueLot" />
      </div>
      <div class="spots">
        <p>BLUE LOT</p>
          <!--if user hasnt login, show login button-->
          <ng-container *ngIf="!user; else loggedInBlock">
            <div class="googleSign Inputs">
              <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
            </div>
          </ng-container>
          <!--if user hasnt booked spot, show reserve button-->
          <ng-template #loggedInBlock>
            <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
              <button (click)="reserveButtonClicked('b')">
                Reserve
              </button>
            </ng-container>
          </ng-template>
          <!--if user  booked spot, show checkout button-->
          <ng-template #bookedSpotBlock>
            <ng-container *ngIf="user?.parkingDeckBooked == 'b'">
              <button (click)="checkoutButtonClicked()">
                Check Out
              </button>
            </ng-container>
          </ng-template>    
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/greenLot.jpeg" alt="GreenLot" />
      </div>
      <div class="spots">
        <p>GREEN LOT</p>
          <!--if user hasnt login, show login button-->
          <ng-container *ngIf="!user; else loggedInBlock">
            <div class="googleSign Inputs">
              <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
            </div>
          </ng-container>
          <!--if user hasnt booked spot, show reserve button-->
          <ng-template #loggedInBlock>
            <ng-container *ngIf="!user?.parkingDeckBooked; else bookedSpotBlock">
              <button (click)="reserveButtonClicked('g')">
                Reserve
              </button>
            </ng-container>
          </ng-template>
          <!--if user  booked spot, show checkout button-->
          <ng-template #bookedSpotBlock>
            <ng-container *ngIf="user?.parkingDeckBooked == 'g'">
              <button (click)="checkoutButtonClicked()">
                Check Out
              </button>
            </ng-container>
          </ng-template>    
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
