<div class="banner">
  <img src="../../assets/banner.jpeg" alt="banner" />
  <p id="slogan">
    RESERVE.<br /><br /><br />
    PARK.<br /><br /><br />
    GO.
  </p>
  <p id="description">
    ParkMe is a web application tailored for students within the university
    system for daily reserving available parking slots on campus within a
    convenient 30-minute timeframe.
  </p>
</div>
<div class="main">
  <div id="content">
    <div class="deck">
      <div class="deckName">
        <img class="deck-img" src="../../assets/TDeck.jpeg" alt="TDeck" />
      </div>
      <div class="spots">
        <p>T DECK</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('t')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckT()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/MDeck.webp" alt="MDeck" />
      </div>
      <div class="spots">
        <p>M DECK</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('m')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckM()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/NDeck.webp" alt="NDeck" />
      </div>
      <div class="spots">
        <p>N DECK</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('n')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckN()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/SDeck.webp" alt="SDeck" />
      </div>
      <div class="spots">
        <p>S DECK</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('s')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckS()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/blueLot-.png" alt="BlueLot" />
      </div>
      <div class="spots">
        <p>BLUE LOT</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('b')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckB()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
    <div class="deck">
      <div class="deck-img">
        <img class="deck-img" src="../../assets/greenLot.jpeg" alt="GreenLot" />
      </div>
      <div class="spots">
        <p>GREEN LOT</p>
        <!--if user hasnt login, show login button-->
        <div *ngIf="!checkUserStatus()" class="googleSign Inputs">
          <asl-google-signin-button
            type="standard"
            size="large"
          ></asl-google-signin-button>
        </div>
        <!--if user hasnt booked spot, show reserve button-->
        <button
          *ngIf="checkUserStatus() && !checkUserBookedStatus()"
          (click)="reserveButtonClicked('g')"
        >
          Reserve
        </button>
        <!--if user  booked spot, show checkout button-->
        <button
          *ngIf="checkUserBookedDeckG()"
          (click)="checkoutButtonClicked()"
        >
          Check Out
        </button>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

<div class="deck-description">
  <h2>Parking Information</h2>
  <p>Here you can find information about each parking deck/lot:</p>
  <p id="descriptions"></p>
  <ul>
    <li>
      <strong>T DECK:</strong> Located across from 55 Park Place this is the
      ideal location to park if you have class in aderhold, CMII, or 55 park
      place.
    </li>
    <li>
      <strong>M DECK:</strong> Located across from Student Center East this is
      the ideal location to park if you want to grab a quick bite in the
      cafeteria or if you have class in Student Center West or Sparks Hall.
    </li>
    <li>
      <strong>N DECK:</strong> Located across from Petit Science Center this is
      the ideal location to park if you would like to go to the recreation
      center or have class in Petit Science Center and Urban Life.
    </li>
    <li>
      <strong>S DECK:</strong> Located across from Grady Hospital this is the
      ideal location to park if you are a nursing student and have clinicals.
    </li>
    <li>
      <strong>BLUE LOT:</strong> Located near GSU Stadium this parking deck
      occasionally opens when events occur in Green lot. It is currently
      reserved for staff.
    </li>
    <li>
      <strong>GREEN LOT:</strong> Located near Yugo student housing and the GSU
      Stadium this is the ideal location to park for free and attend GSU
      football games.
    </li>
  </ul>
</div>

<!-- Contact form code -->
<div class="contact-container">
  <form
    action="https://api.web3forms.com/submit"
    method="POST"
    class="contact-left"
  >
    <div class="contact-left-title">
      <h2>Contact us!</h2>
      <hr />
    </div>
    <input
      type="hidden"
      name="access_key"
      value="53a9adba-1fe3-4186-8f79-c09397a97d92"
    />
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      class="contact-inputs"
      required
    />
    <input
      type="email"
      name="email"
      placeholder="{{ user?.email }}"
      class="contact-inputs"
      required
    />
    <textarea
      name="message"
      placeholder="Your Message"
      class="contact-inputs"
      required
    ></textarea>
    <button type="submit">Submit</button>
  </form>
  <div class="contact-right">
    <img src="/assets/icon.png" alt="" />
  </div>
</div>
