body{
    background-image: url("../../assets/image1.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: rgba(255, 255, 255, 1);
   /* border: 3px solid rgb(144, 138, 138);*/
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 13px 13px 0px black;
}

.account{
    font-weight: normal;
}

.verticalCenter{
    text-align: center;
    padding: 30px;
}

label{
    font-weight: bold;
}
#formInput{
    border: none;
    background-color: #a9abad ;
    border-radius: 6px;
    height: 24px;
    width: 150px;

}

#submit{
    height: 30px;
    border: none;
    background-color: rgba(31, 100, 248, 0.736);
    border-radius: 6px;
}
#submit:hover{
    cursor: pointer;
}
