<div class="background">
  <div class="container">
    <div class="verticalCenter">
      <div class="account"><h2>Account Setting</h2></div>
      <div class="form">
        <mat-form-field>
          <mat-label>{{ user?.email }}</mat-label>
          <input matInput [formControl]="disableForm" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="License Plate Number"
            [formControl]="licensePlate"
          />
        </mat-form-field>
        <button mat-button id="submit" (click)="handleSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
